<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
    package="com.marakana.android.yamba"
    a:versionCode="1"
    a:versionName="1.0" >

    <uses-sdk
        a:minSdkVersion="15"
        a:targetSdkVersion="17" />
    
    <uses-permission a:name="android.permission.INTERNET"/>

    <application
        a:allowBackup="true"
        a:icon="@drawable/ic_launcher"
        a:label="@string/app_name"
        a:theme="@style/AppTheme"
        a:name=".YambaApp" >
        <activity
            a:name=".StatusActivity"
            a:label="@string/app_name" >
            <intent-filter>
                <action a:name="android.intent.action.MAIN" />

                <category a:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service 
            a:name=".svc.YambaService"></service>
    </application>

</manifest>
