<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marakana.android.yamba"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
    Use with boot receiver
    uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /
    -->

    <application
        android:name="com.marakana.android.yamba.YambaApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.marakana.android.yamba.TimelineActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.marakana.android.yamba.StatusActivity"
            android:label="@string/label_status" />
        <activity
            android:name="com.marakana.android.yamba.TimelineDetailActivity"
            android:label="@string/title_activity_timeline_detail" >
        </activity>

        <service android:name="com.marakana.android.yamba.svc.YambaService" />

        <provider
            android:name="com.marakana.android.yamba.data.YambaProvider"
            android:authorities="com.marakana.android.yamba.timeline"
            android:exported="false" />

        <!--
        <receiver android:name=".svc.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ON_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        -->
    </application>

</manifest>